.listing-container {
  min-height: 100%;
  min-width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
}

.paging-container {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width:1000px) {
  .listing-container {
    width: 50vw;
  }
}
