h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.2em;

}

hr.divider {
  margin: 0;
  width: 50%;
  align: left;
}

.portfolio-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.splash {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.featured {
  width: 100%;
  height: auto;
  align-self: center;
}

@media only screen and (min-width: 1000px) {

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .portfolio-container{
    width: 60%;
  }

  .splash {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

   .featured {
    width: 100%;
    height: auto;
    align-self: center;
  }
}

.project-link {
  background-color: #76C893;
  color: #1A1D2A;
  padding: 7px;
  margin: 20px;
  border-radius: 7px;
  /*box-shadow: 7px 7px rgb(100, 100, 100)*/;
  transition: 0.25s;
}

.project-link:hover {
  opacity: 0.8;
  /*box-shadow: 6px 6px rgb(100, 100, 100)*/;
}

@media only screen and (min-width: 1000px) {
  .portfolio-container {
    margin: 0 auto;
    width: 75vw;
    padding: 20px;
  }
}
