/* Index page specific css, not layout. */
.index-container {
  padding: 20px;
  margin: 0 auto;
  width: 90%;
  /* height: auto; */
}
.tech {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 200px;
}

.tech-logo {
  width: 100px;
  height: 100px;
  transform: scale(0.95);
  transition: 0.4s;
}

.tech-logo:hover {
  transform: scale(1);
}

.innerTech {
  display:flex;
  flex-direction: column;
  align-content:center;
  justify-content: center;
  align-items: center;
}

.logo-desc {
  margin-top: 10px;
}

#document svg {
  max-height: 100px;
}

h6 {
  margin: 0;
}

.showOnHover {
  display: absolute;
}

.project {
  margin-top: 25px;
}

/* .project {
  flex-basis: 400px;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  height: auto;
  border: 1px solid red;
  border-radius: 30px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
} */

.project img {
  /* height: 40%; */
  width: 100%;
  margin: -2px auto;
  border-radius: 6px;
  opacity: 1;
  transition: 0.4s;
}

.project img:hover{
  opacity: 0.6;
}

.tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 3px;
  background-color: rgba(0, 220, 255, 0.2);
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  margin: 6px;
  font-family: "Lovelo Black";
  /* font-weight:; */
  font-size: 0.75em;
}

.content,
.portfolio {
  width: 75vw;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.no-underline::after {
  content: "";
  height: 0px;
}

@media screen and (min-width: 1000px) {
  .content {
    width: 75vw;
  }
  .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project {
    position: relative;
    width: calc(50% - (1.2em * 2));
    margin: 0;
    margin-top: 25px;
    /* margin: 20px; */
  }
}
